@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>My name is Jaelyn Pounds and I am from Cleveland, Ohio. I am 21 years old. I have a Shih Tzu at home named Frankie. In my free time I like to listen to true crime podcasts, watch movies, hang out with my friends, paint, and hike</p>
