@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Jaelyn Pounds</h1>
    <p class="lead">Please feel free to connect with me on LinkedIn.</p>
    <p><a href="https://www.linkedin.com/in/jaelyn-pounds/" class="btn btn-danger btn-lg">My LinkedIn &raquo;</a></p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Hometown</h2>
        <p>
            I am from Beachwood, Ohio which is a suburb of Cleveland. In high school I played volleyball, basketball, and ran track.
        </p>
        <p><a class="btn btn-danger" href="https://beachwoodohio.com/">Beachwood's Website &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Extra Curriculars</h2>
        <p>At school I am a member of multiple organizations and hold an on-campus job. Last semester and the semester prior, I was on the executive board as the Director of Diversity and Inclusion for Information Systems and Analytics Professionals (ISAP).On campus I work for Ping Recreation Center as a member services specialist. Other organizations that I have been apart of in my college carreer are Women in Business and the Schey Sales Centre.</p>
        <p><a class="btn btn-danger" href="https://ouisap.com/">ISAP's Website &raquo;</a></p>
        @Html.ActionLink("Courses", "Index", "Courses") <br />
        @Html.ActionLink("Grades", "Index", "Grades")<br />
        @Html.ActionLink("Students", "Index", "Students")
    </div>
    <div class="col-md-4">
        <h2>Future Job</h2>
        <p>This past summer I interned with KPMG in the IT Audit and Assurance department. After the completion of my internship, they offered me a full-time position in the Columbus office</p>
        <p><a class="btn btn-danger" href="https://home.kpmg/xx/en/home.html">KPMG's Website &raquo;</a></p>
    </div>
</div>